@import "tailwindcss";

@layer base {
  body {
    @apply bg-neutral-950;
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 80;
    @apply font-normal;
  }

  hr {
    @apply w-64 lg:w-96 mx-auto text-neutral-800;
  }

  input {
    @apply text-neutral-100 font-normal border-neutral-800 border-3 focus:outline-none focus:border-blue-400 rounded-lg h-10 text-lg p-2;
  }
}

@layer components {
  .button {
    @apply text-neutral-100 font-normal border-neutral-900 border-3 focus:outline-none focus:border-blue-400 bg-linear-to-t from-neutral-950 to-neutral-900 rounded-md hover:shadow-xl/50 shadow-neutral-800;
  }

  .button-active {
    @apply text-neutral-950 font-normal border-neutral-50 border-3 focus:outline-none focus:border-blue-400 bg-linear-to-t from-neutral-200 to-neutral-100 rounded-md hover:shadow-xl/50 shadow-neutral-600;
  }

  .button-error {
    @apply text-red-100 font-normal border-red-900 border-3 focus:outline-none focus:border-blue-400 bg-linear-to-t from-red-950 to-red-900 rounded-md hover:shadow-xl/50 shadow-red-950;
  }
}

@layer utilities {
  .flex-horizontal {
    @apply flex flex-row gap-4;
  }

  .flex-vertical {
    @apply flex flex-col gap-6;
  }
}
