@import "tailwindcss";

@layer base {
  body {
    @apply bg-neutral-950;
    @apply text-neutral-100;
  }

  hr {
    @apply w-64 lg:w-96 mx-auto text-neutral-800;
  }

  input, select {
    @apply text-neutral-100 border-neutral-800 border-2 rounded-lg h-10 p-2;
  }
}

@layer components {
  .button {
    @apply text-neutral-100 border-neutral-950 border-2 focus:outline-none focus:border-blue-400 bg-linear-to-t from-neutral-950 to-neutral-900 rounded-md shadow-xl/25 hover:shadow-xl/50 shadow-neutral-800 p-2;
  }

  .button-selected {
    @apply text-neutral-100 border-neutral-950 border-2 focus:outline-none focus:border-blue-400 bg-linear-to-t from-neutral-950 to-[#1e1e1e] rounded-md shadow-xl/50 shadow-neutral-800 p-2;
  }

  .button-active {
    @apply text-neutral-950 border-neutral-200 border-2 focus:outline-none focus:border-blue-400 bg-linear-to-t from-neutral-200 to-neutral-100 rounded-md shadow-xl/25 hover:shadow-xl/50 shadow-neutral-600 p-2;
  }

  .button-error {
    @apply text-red-200 border-red-900 border-2 focus:outline-none focus:border-blue-400 bg-linear-to-t from-red-900 to-red-700 rounded-md shadow-xl/25 hover:shadow-xl/50 shadow-red-900 p-2;
  }
}

@layer utility {
  .emphasized {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .numeric {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variant-numeric: tabular-nums;
  }
}
